p {
  font-family: $roboto;
  font-weight: $regular;
  font-size: $small;
}

h1 {
  font-family: $playfair-display;
  font-weight: 900i;
  font-size: $xx-large;
}

h4 {
  font-family: $playfair-display;
  font-weight: 400;
  font-size: $large;
}
